<section class="form-section">
    <H1>New Note</H1>
<form action="" method="post" enctype="multipart/form-data">
    <input name="title" class="feedback-input" type="text" placeholder="Name">
    <textarea name="info" placeholder="Description" class="feedback-input">1</textarea>
    <input name="image" class="feedback-input" type="file">
    <input type="submit" value="SUBMIT"/>
</form>
</section>
