@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
/* BODY */
body
{
  background-color:#A9D0F5;
  font-family: 'Oswald', sans-serif;

}

.menu
{
  position:fixed;
  left:0px;
  top:-50px;
  
  width:100vw;
  padding:20px;
  text-align:center;
  
  background-color:rgba(0,0,0,0.9);
  box-shadow: 0px 2px 5px rgba(0,0,0,0.6);
  
  font-size:20px;
  color:white;
  
  /* transition */
  
  transition:top 1s;
  -webkit-transition:top 1s;
  
}

.menu:hover
{
  top:0px;  
}


/* SPAN OF SPAN */

.menu span
{
  margin:20px;  
}

.menu span a:hover
{
  color:rgba(255,255,255,0.5);  
}



/* Body and Title*/

a
{
  text-decoration:none;
  color:white;
}

img{
  width: 250px;
  height: 250px;
}

